
<ion-menu  contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button color="warning" (click)="irFavoritos()" expand="block" fill="solid" shape="round">
          Mis Favoritos
        </ion-button>
        <ion-button color="tertiary" (click)="cambiarContrasena()" expand="block" fill="solid" shape="round">
          Cambiar Contraseña
        </ion-button>
        <ion-button color="medium" (click)="delete()" expand="block" fill="solid" shape="round">
          Darse de baja
        </ion-button>
        <ion-button color="danger" (click)="cerrarSesion()" expand="block" fill="solid" shape="round">
          Cerrar Sesión
        </ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-content>
</ion-menu>

<ion-content id="main-content" mode="ios">
  <div class="glass-content">
    <ion-header mode="md">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="openMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
          <div class="version">Green Flow</div>
          <strong >Productos</strong>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-row>

      <ion-col class="d-flex-center" size="12">
        
        <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" (ionInput)="searchProducto()" [debounce]="250" ></ion-searchbar>
      </ion-col>
    </ion-row>

  <div *ngIf="showSwiper">
    <ion-card>
    <swiper-container class="ion-padding"
      [autoplay]="true"
      [speed]="500"
      [autoplayTimeout]="3000"
      [slidesPerView]="1"
      [initialSlide]="0"
      [spaceBetween]="30"
      [pagination]="{clickable: true, dynamicBullets: true}"
      >
      <swiper-slide routerLinkActive="router-link-active"  *ngFor="let p of productos" (click)="navigateToDestinationPage(p.ID)" size-lg="6" size-md="6" size-sm="12" size="12">
        <div ><h1>{{p.NOMBRE_SOCIAL}}</h1></div>  
        <ion-col class="d-flex-center"  size-lg="4" size-md="4" size-sm="4" size="12">
        <img  [src]="p.IMAGEN" /> 
      </ion-col>      
      </swiper-slide>
    </swiper-container>

  </ion-card>

  </div>

  <div *ngIf="showNotFound">
    <ion-card>
        <div class="ion-text-center  ion-padding-top"><h1>Producto no encontrado.</h1></div>  
        <ion-col class="d-flex-center"  size-lg="4" size-md="4" size-sm="4" size="12">
        <img  src="assets/not_found.svg" /> 
      </ion-col>      
  </ion-card>
  </div>



      <ion-grid>
        <ion-row>
          <ion-col routerLinkActive="router-link-active"  *ngFor="let p of productosFiltrados" (click)="navigateToDestinationPage(p.ID)" size-lg="6" size-md="6" size-sm="12" size="12">
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col class="d-flex-center"  size-lg="4" size-md="4" size-sm="4" size="12">
                    <ion-avatar>
                      <img [src]="p.IMAGEN" />
                    </ion-avatar>
                  </ion-col>
                  <ion-col class="ion-padding" size-lg="8" size-md="8" size-sm="8" size="12">
                    <h5><div>Nombre: <strong>{{p.NOMBRE_SOCIAL}}</strong>
                    <p>Origen: <strong>{{p.ORIGEN}}</strong></p></div>
                    <div>Categoría: <strong>{{p.CATEGORIA}}</strong></div></h5>
                  </ion-col>
                  <!-- <ion-col class="ion-padding" size-lg="8" size-md="8" size-sm="8" size="6"> 
                    <div>Categoría: <strong>{{p.CATEGORIA}}</strong></div>
                  </ion-col> -->
                  <!-- <ion-card-content>
                    Here's a small text description for the card content. Nothing more, nothing less.
                  </ion-card-content> -->  
                </ion-row> 
                <!-- <ion-row class="text-arriba">
                  <ion-col class="ion-padding" size-lg="8" size-md="8" size-sm="8" size="12"> 
                    <div>Detalle: <strong>orem ipsum dolor sit amet consectetur adipiscin, ut facilisis parturient platea ultrices iaculis venenatis rhoncus nam.</strong></div>
                  </ion-col>
                </ion-row> -->
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>
  </ion-content>

