<ion-header>
  <ion-toolbar class="degradado">
    
    <ion-title class="ion-text-center">Green Flow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <div class="ion-text-center ion-padding">
    <ion-label class="titulo">Eliminar Cuenta de Usuario</ion-label>

    <ion-img src="assets/ic_delete.svg"></ion-img>
  </div>
 <!-- INGRESO DE CORREO  -->
<ion-item class="borde">
  <ion-input label="Correo" label-placement="floating" 
    placeholder="Ingrese Correo" [(ngModel)]="correo"
    [required]="true">
  </ion-input>
</ion-item>

<!-- INGRESO DE CONTRASEÑA  -->
<ion-item class="borde">
  <ion-input label="Contraseña" label-placement="floating" 
    placeholder="Ingrese Contraseña" [(ngModel)]="password"
    type="password" minlength="8">
  </ion-input>
</ion-item>

  <ion-button color="danger" class="degradado"  expand="block" (click)="eliminarUsuario()">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    Eliminar</ion-button>
  
  <ion-button routerLink="/productos" expand="block" ion-button color="secondary">
    <ion-icon name="arrow-undo-outline" slot="start"></ion-icon>
    Regresar</ion-button>

</ion-content>
