.borde{
    background: rgba(16, 167, 49, 0.27);
    
    
    color: black;
    border: 1px solid #55330d;
    margin: 10px auto;
    border-radius: 10px !important;
    //--background: transparent;

}
