<ion-header>
  
  <ion-toolbar class="degradado">
    <ion-title class="ion-text-center" color="degradado">Green Flow</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <strong><ion-label class="titulo">LOGIN</ion-label></strong>
  </div>
  <ion-img src="assets/ic_login.svg"></ion-img>

<!-- INGRESO DE CORREO  -->
  <ion-item class="borde">
    <ion-input label="Correo" label-placement="floating" 
      placeholder="Ingrese Correo" [(ngModel)]="mdl_correo"
      type="correo">
    </ion-input>
  </ion-item>

<!-- INGRESO DE CONTRASEÑA  -->
  <ion-item class="borde">
    <ion-input label="Contraseña" label-placement="floating" 
      placeholder="Ingrese Contraseña" [(ngModel)]="mdl_contrasena" 
      type="password" minlength="8" value="password">
    </ion-input>
  </ion-item>  
 
  <ion-button color="success" (click)="login()" expand="block" class="degradado">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    Ingresar
  </ion-button>
  <ion-button color="warning" (click)="registro()" expand="block">
    <ion-icon name="person-add-outline" slot="start"></ion-icon>
    Registrar
  </ion-button>
</ion-content>